* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}

header {
    background-color: blueviolet;
    color: white;
    height: 60px;
    width: 100%;
    display: inline;
    position: fixed;
    z-index: 1;
}

nav {
    background-color: blueviolet;
    position: fixed;
    width: 100vh;
    bottom: 0;
    right: 68px;
    height: 68px;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    z-index: 1;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px 0;

}

li {
    font-size: 125%;
    }

a {
    text-decoration: none;
    color: white;
}
h1 {
    display: inline;
}
main {
    position: relative;
    top: 60px;
    height: 3000px;
    background-color: gray;
}

